<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}Welcome to MyFavouriteAppliances.wow !{% endblock %}
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
              rel="stylesheet">
        {% block stylesheets %}
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="">
        <style>
            .material-icons{
                color: lightgrey;
                cursor: pointer;
            }
            .material-icons.active{
                color: blue;
            }
        </style>

    <!-- HEADER -->
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg" style="margin-bottom: 50px;">
            <div class="container">
            <a class="navbar-brand" href="{{ path('catalog') }}">MyFavouriteAppliances</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item {% if app.request.get('_route') == 'catalog' %} active {% endif %}">
                            <a class="nav-link" href="{{ path('catalog') }}">Products</a>
                        </li>
                        <li class="nav-item {% if app.request.get('_route') == 'user_wishlist' %} active {% endif %}">
                            <a class="nav-link" href="{{ path('user_wishlist') }}">My Wishlist</a>
                        </li>
                        <li class="nav-item {% if app.request.get('_route') == 'fos_user_profile_show' %} active {% endif %}">
                            <a class="nav-link" href="{{ path('fos_user_profile_show') }}">Profile</a>
                        </li>
                    </ul>
                    <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                {% else %}
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
                    </li>
                </ul>

                {% endif %}
            </div>
            </div>
        </nav>

    <!-- END HEADER -->



    <!-- CONTAINER -->
        <div class="container">
            {% if errors is defined and errors|length > 0 %}
                <div class="alert alert-danger" role="alert">
                    <h4 class="alert-heading">ERROR!</h4>
                    {% for error in errors %}
                        <p>- {{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}


            {% block body %}

            {% endblock %}

        </div>
    <!-- END CONTAINER -->


        {% block javascripts %}
        {% endblock %}
        <script>
            function makeAjaxCall(url, methodType){
                var promiseObj = new Promise(function(resolve, reject){
                    var xhr = new XMLHttpRequest();
                    xhr.open(methodType, url, true);
                    xhr.send();
                    xhr.onreadystatechange = function(){
                        if (xhr.readyState === 4){
                            if (xhr.status === 200){
                                var resp = xhr.responseText;
                                var respJson = JSON.parse(resp);
                                resolve(respJson);
                            } else {
                                reject(xhr.status);
                            }
                        }
                    };
                });
                return promiseObj;
            }
            function errorHandler(status){
                alert("ERROR: "+status+". Try it later or contact us.");
            }
        </script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>
