{% extends 'base.html.twig' %}

{% block body %}

    <h2>{{ wishlist.name }}</h2>
    {% if wishlist is not null %}
    {% set products = wishlist.products %}
        {% for row in products|batch(3) %}

            <div class="card-deck">
                {% for product in row %}
                    <div class="col-md-4" id="product_container_{{ product.id }}">

                        {{ include('@App/Widgets/product.html.twig', {'view':'catalog'}) }}

                    </div>
                {% endfor %}
            </div>

        {% endfor %}
    {% endif %}

    <script>

        function processAddWishlistResponse(response){
            var product = response['data']['product'];
            var url = response['data']['delete_url'];
            var ico = $('#wish_ico_'+product);
            ico.addClass('active');
            ico.attr("onclick", "makeAjaxCall('"+url+"', 'DELETE').then(processDeleteWishlistResponse, errorHandler);");
            alert(response['message']);
        }

        function processDeleteWishlistResponse(response){
            var product = response['data']['product'];
            var url = response['data']['add_url'];
            var ico = $('#wish_ico_'+product);
            ico.removeClass('active');
            ico.attr("onclick", "makeAjaxCall('"+url+"', 'POST').then(processAddWishlistResponse, errorHandler);");
            alert(response['message']);
        }

    </script>

{% endblock %}

{% block stylesheets %}

{% endblock %}